@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --black: rgb(16, 16, 16);
    --gray: #272727;
    --light-gray: #646464;
    --white: rgb(216, 216, 216);
    --off-white: #adadad;
    --green: #417630;
    --dark-green: rgb(35, 68, 30);
    --orange: #f59c2f;
    --font-main: 'Montserrat', sans-serif;
}

/* Production Status */
.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

.inactive { background-color: red; }
.active { background-color: green; }

.inactive-border {border-left: 10px solid; border-left-color: red;}
.active-border {border-left: 10px solid; border-left-color: green;}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.3); opacity: 0.6; }
    100% { transform: scale(1); opacity: 1; }
}

.card-container {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    height: auto;
    min-width: 180px;
    width: 360px;
    text-align: center;
    position: relative;
}

h2 {
    color: var(--white);
    margin: 0;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bold;
}

.current-product-label {
    font-size: 0.75rem;
    color:#646464;
    margin: 12px 0 2px 0;
}

.current-product-value {
    color:rgb(216, 216, 216);
    margin: 0;
    font-size: 0.9rem;
}

.card .chart-container canvas{
    width: 6rem;
    height: 6rem;
    position: relative;
    justify-self: anchor-center;
}

.temperature1-card {
    border-left: 10px solid;
    border-left-color: #FFB347;
}

.temperature2-card {
    border-left: 10px solid;
    border-left-color: #FF6347;
}

.product-card {
    border-left: 10px solid;
    border-left-color: var(--green);
}