@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --black: rgb(16, 16, 16);
    --gray: #272727;
    --light-gray: #646464;
    --white: rgb(216, 216, 216);
    --off-white: #adadad;
    --green: #417630;
    --dark-green: rgb(35, 68, 30);
    --orange: #f59c2f;
    --font-main: 'Montserrat', sans-serif;
}

/* Production Status */
.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

.inactive { background-color: red; }
.active { background-color: green; }
.inactive-dim { background-color: var(--light-gray); }

.inactive-border {border-left: 10px solid; border-left-color: red;}
.active-border {border-left: 10px solid; border-left-color: green;}

/* Dot (indicator) styles */
.status-indicator.inactive-gray {
    background-color: var(--light-gray);
}

/* Card border for inactive state */
.card.machine-card.inactive-gray-border {
    border-left: 10px solid var(--light-gray);
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.3); opacity: 0.6; }
    100% { transform: scale(1); opacity: 1; }
}

.card-container {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    height: auto;
    min-width: 180px;
    width: 360px;
    text-align: center;
    position: relative;
}

h2 {
    color: var(--white);
    margin: 0;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bold;
}

.current-product-label {
    font-size: 0.75rem;
    color:#646464;
    margin: 12px 0 2px 0;
}

.current-product-value {
    color:rgb(216, 216, 216);
    margin: 0;
    font-size: 0.9rem;
}

.card .chart-container canvas{
    width: 6rem;
    height: 6rem;
    position: relative;
    justify-self: anchor-center;
}

.temperature1-card {
    border-left: 10px solid;
    border-left-color: #FFB347;
}

.temperature2-card {
    border-left: 10px solid;
    border-left-color: #FF6347;
}

.product-card {
    border-left: 10px solid;
    border-left-color: var(--green);
}

/* Time Cards */
.time-cards {
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    gap: 18px;
    margin-bottom: 18px;
}

.time-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    height: auto;
    min-width: 180px;
    width: 360px;
    text-align: left;
    position: relative;
}

.time-card h3 {
    font-family: inherit;
    font-size: 0.8rem;
    margin: 12px 0px 8px 0px;
}

.bar-container {
    width: 100%;
    background: var(--black);
    border-radius: 4px;
    position: relative;
}

.bar {
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: var(--white);
    font-weight: bold;
    padding-left: 10px;
    transition: width 0.4s ease, background-color 0.3s ease;
    position: relative;
}

.bar-label {
    font-size: 0.8rem;
    align-self: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-wrapper {
    position: relative;
    cursor: pointer;
    width: 100%;
}

.info-icon {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--off-white);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.tooltip, .bar-tooltip {
    opacity: 0;
    font-family: var(--font-main);
    font-weight: normal;
    pointer-events: none;
    position: absolute;
    background-color: var(--black);
    color: var(--off-white);
    padding: 8px 12px;
    border: solid 1.5px var(--dark-green);
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 0.75rem;
    width: max-content;
    max-width: 220px;
    z-index: 10;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.tooltip {top: 25px; right: 0; transform: translateY(-5px);}
.bar-tooltip {top: -34px; left: -1.5px; transform: translateY(5px);}

.info-icon:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.bar-wrapper:hover .bar-tooltip {
    transform: translateY(0);
    display: block;
    opacity: 1;
}