@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background: linear-gradient(to bottom, #323232, #323232, #323232, #323232, #323232, #323232, #323232, #304728);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 36px;
    color: white;
}

.logo {
    height: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 20px;
    box-shadow: 0 0 48px #417630;
    margin: -36px -36px 0px -36px;
}

.navbar .logo {
    height: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #f4a261;
}

.btn-download {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #417630;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.btn-download:hover {
    background-color: #365b25;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    min-width: 400px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #417630;
    color: #ffffff;
    text-align: center;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #444;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #333;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #417630;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}